<!DOCTYPE html>
<html lang="en">
<head>
<title>Attendance Management System</title>
<meta charset="UTF-8">
<<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- media query -->

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main.css')}}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
   
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
   
  <!-- <link rel="stylesheet" href="styles.css" > -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Connection for js file used for table contents-->
  <script src="{{url_for('static',filename = 'main.js')}}"></script> 

  <!-- Date picker -->
  <script>$('.datepicker').pickadate();</script>

<style type="text/css">
  .status{
    font-size: 10px;
  }

</style>

</head>
<body>

<header>

  <h1 id="mainheading"> Attendance Management System </h1>
  <div class="navbar">
     <a href="/logout">Logout</a>
  </div>

</header>

<center>

<div class="row">

  <div class="content">
    <h3>Attendance of {{subject}} by {{name}}</h3>
    <br>

 
    
   <form action="" method="post" class="form-horizontal col-md-6 col-md-offset-3">

    <center>
      <div class="md-form">
      <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
        <label for="date-picker-example">Select Date</label>
    </div>
  </center>
    <div class="form-group">

      <label>Select Semester</label>
                
        <select name="whichSemester" id="input1">

        {% for class in classes %}
        <option name="cl_opt" value="{{class.semester}}">Select Semester</option>
        {% endfor %}

        </select>

        <label>Select Section</label>
            <select name="whichSection" id="input2">
            {% for class in classes %}
            <option name="cl_opt" value="{{class.section}}">Select Class</option>
            {% endfor %}

        </select>
    </div>
               
    <input class="btn btn-primary col-md-2 col-md-offset-5" value="Open Register" id = 'submitButton' name="batch" />

   </form>

   <div class="content"></div>
   <form action="" method="post">

    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope="col" style="padding-left: 20px;">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Present</th>
        </tr>
      </thead>
   
     <tbody id = "tableBody"></tbody>
    

    </table>

    <center><br>
    <input id="save" class="btn btn-primary col-md-2 col-md-offset-10" value="Save!" name="att" />
  </center>

   </form>
   </div>

</div>

</center>

</body>
</html>