<!DOCTYPE html>
<html lang="en">
<head>
<title>Online Attendance Management System 1.0</title>
<meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main.css')}}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
   
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
   
  <!-- <link rel="stylesheet" href="styles.css" > -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="{{url_for('static',filename = 'main.js')}}"></script> 

<style type="text/css">
  .status{
    font-size: 10px;
  }

</style>

</head>
<body>

<header>

  <h1>Online Attendance Management System 1.0</h1>
  <div class="navbar">
  <a href="">Home</a>
  <a href="">Students</a>
  <a href="">Faculties</a>
  <a href="">Attendance</a>
  <a href="">Report</a>
  <a href="/logout">Logout</a>

</div>

</header>

<center>

<div class="row">

  <div class="content">
    <h3>Attendance of {{subject}} by {{name}}</h3>
    <br>

    <center><p></p></center> 
    
    <form action="" method="post" class="form-horizontal col-md-6 col-md-offset-3">

     <div class="form-group">

                <label>Select Semester</label>
                
                <select name="whichSemester" id="input1">
                      {% for class in classes %}
                      <option name="cl_opt" value="{{class.semester}}">{{class.semester}}</option>
                      {% endfor %}
                  </select>
                <label>Select Section</label>
                <select name="whichSection" id="input2">
                  {% for class in classes %}
                  <option name="cl_opt" value="{{class.section}}">{{class.section}}</option>
                  {% endfor %}
                </select>
              </div>
               
     <input class="btn btn-primary col-md-2 col-md-offset-5" value="Show!" id = 'submitButton' name="batch" />

    </form>

    <div class="content"></div>
    <form action="" method="post">

    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
   
  <tbody id = "tableBody">
     <tr>
       <td> <input type="hidden" name="stat_id[]" value=""> </td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       
     </tr>
  </tbody>

    </table>

    <center><br>
    <input type="submit" class="btn btn-primary col-md-2 col-md-offset-10" value="Save!" name="att" />
  </center>

</form>
  </div>

</div>

</center>

</body>
</html>